@model WebProje.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



        <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('@Model.Haber.ElementAt(Model.Haber.Count-1).Foto')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>@Html.ActionLink(@Model.Haber.ElementAt(Model.Haber.Count() - 1).Baslik,"Index","HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 1),new { })</h3>

                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('@Model.Haber.ElementAt(Model.Haber.Count-2).Foto')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>@Html.ActionLink(@Model.Haber.ElementAt(Model.Haber.Count() - 2).Baslik, "Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 2), new { })</h3>

                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('@Model.Haber.ElementAt(Model.Haber.Count() - 3).Foto')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>@Html.ActionLink(@Model.Haber.ElementAt(Model.Haber.Count() - 3).Baslik, "Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 3), new { })</h3>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">@WebProje.Resources.Kaynak.Onceki</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">@WebProje.Resources.Kaynak.Sonraki</span>
            </a>
        </div>
    </header>
        <div class="container">

            <h1 class="my-4">@WebProje.Resources.Kaynak.EnCokTiklanilanlar</h1>
            <br />
            <br />
            <br />

            <!-- Marketing Icons Section -->
            <div class="row">
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="@Url.Action("Index", "HaberYonlendir", @Model.Haber.OrderBy(x=>x.OkunmaSayisi).ElementAt(Model.Haber.Count-1))"><img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="@Model.Haber.OrderBy(x=>x.OkunmaSayisi).ElementAt(Model.Haber.Count-1).Foto" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">@Html.ActionLink(@Model.Haber.OrderBy(x => x.OkunmaSayisi).ElementAt(Model.Haber.Count - 1).Baslik, "Index", "HaberYonlendir", @Model.Haber.OrderBy(x => x.OkunmaSayisi).ElementAt(Model.Haber.Count - 1), new { })</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="@Url.Action("Index", "HaberYonlendir", @Model.Haber.OrderBy(x=>x.OkunmaSayisi).ElementAt(Model.Haber.Count-2))"><img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="@Model.Haber.OrderBy(x=>x.OkunmaSayisi).ElementAt(Model.Haber.Count-2).Foto" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">@Html.ActionLink(@Model.Haber.OrderBy(x => x.OkunmaSayisi).ElementAt(Model.Haber.Count - 2).Baslik, "Index", "HaberYonlendir", @Model.Haber.OrderBy(x => x.OkunmaSayisi).ElementAt(Model.Haber.Count - 2), new { })</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="@Url.Action("Index", "HaberYonlendir", @Model.Haber.OrderBy(x=>x.OkunmaSayisi).ElementAt(Model.Haber.Count-3))"><img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="@Model.Haber.OrderBy(x=>x.OkunmaSayisi).ElementAt(Model.Haber.Count-3).Foto" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">@Html.ActionLink(@Model.Haber.OrderBy(x => x.OkunmaSayisi).ElementAt(Model.Haber.Count - 3).Baslik, "Index", "HaberYonlendir", @Model.Haber.OrderBy(x => x.OkunmaSayisi).ElementAt(Model.Haber.Count - 3), new { })</a>
                            </h4>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- Portfolio Section -->
            <h2>@WebProje.Resources.Kaynak.SonHaberler</h2>

            <div class="row">
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="@Url.Action("Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 1))"><img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="@Model.Haber.ElementAt(Model.Haber.Count() - 1).Foto" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">@Html.ActionLink(@Model.Haber.ElementAt(Model.Haber.Count() - 1).Baslik, "Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 1), new { })</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="@Url.Action("Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 2))"><img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="@Model.Haber.ElementAt(Model.Haber.Count() - 2).Foto" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">@Html.ActionLink(@Model.Haber.ElementAt(Model.Haber.Count() - 2).Baslik, "Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 2), new { })</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="@Url.Action("Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 3))"><img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="@Model.Haber.ElementAt(Model.Haber.Count() - 3).Foto" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">@Html.ActionLink(@Model.Haber.ElementAt(Model.Haber.Count() - 3).Baslik, "Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 3), new { })</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="@Url.Action("Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 4))"><img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="@Model.Haber.ElementAt(Model.Haber.Count() - 4).Foto" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">@Html.ActionLink(@Model.Haber.ElementAt(Model.Haber.Count() - 4).Baslik, "Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 4), new { })</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="@Url.Action("Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 5))"><img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="@Model.Haber.ElementAt(Model.Haber.Count() - 5).Foto" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">@Html.ActionLink(@Model.Haber.ElementAt(Model.Haber.Count() - 5).Baslik, "Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 5), new { })</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="@Url.Action("Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 6))"><img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="@Model.Haber.ElementAt(Model.Haber.Count() - 6).Foto" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">@Html.ActionLink(@Model.Haber.ElementAt(Model.Haber.Count() - 6).Baslik, "Index", "HaberYonlendir", @Model.Haber.ElementAt(Model.Haber.Count() - 6), new { })</a>
                            </h4>

                        </div>
                    </div>
                </div>
            </div>


        </div>


